.faq-typeahead.form-control {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23767676' d='M14.66,13,11.57,9.94a6.3,6.3,0,0,0,1.11-3.58A6.36,6.36,0,1,0,10,11.58L13,14.66A1.15,1.15,0,0,0,14.66,13ZM6.35,10.38a4,4,0,1,1,4-4A4,4,0,0,1,6.35,10.38Z'/%3E%3C/svg%3E"); // sass-lint:disable-line quotes
  background-position: center right .65625rem;
  background-repeat: no-repeat;
  background-size: 1.3125rem 1.3125rem;
  padding-right: 2.25rem;
}

.faq-typeahead-empty {
  margin: 0;
  padding: .4em 1.5em;
}
